body {
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
}

/* margin et border de test*/

/* haut de page */
#horodatage {
  border-bottom: solid 2px;
  min-height: 4rem;
  display: flex;
  max-width: 100%;
  padding: 1rem 2rem 0 2rem;
}

#horodatage :first-child {
  width: 50%;
}

.date {
  font-weight: 10px;
  width: 50%;
}

.heure {
  font-size: 3em;
  font-weight: 10px;
  width: 50%;
  display: flex;
  justify-content: end;
}

/* centre */
.main {
  display: flex;
  border: solid 1px;
  flex: 1fr;
}

#cadre_meteo {
  height: 80vh;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.cadre_img {
  width: 15%;
}

.info_météo {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.celcus {
  display: flex;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  height: 1fr;
  align-self: center;
}

.celcus span {
  /* temperature*/
  border-right: solid 2px;
  margin-right: 0.7rem;
  padding-right: 0.5rem;
  font-size: 35px;
  height: 35px;
}

.météo {
  max-height: 100%;
  width: 150px;
  height: 150px;
}

/*  barre qualité d'air */
.couleur {
  padding: 3px;
  height: 1em;
  flex: 1;
  text-align: center;
}

.couleur[value="1"] {
  background-color: var(--color-ia-bleu);
}

.couleur[value="2"] {
  background-color: var(--color-ia-vert);
}

.couleur[value="3"] {
  background-color: var(--color-ia-jaune);
}

.couleur[value="4"] {
  background-color: var(--color-ia-rouge);
}

.couleur[value="5"] {
  background-color: var(--color-ia-violet);
}

.couleur[value="6"] {
  background-color: var(--color-ia-rose);
}

/* couleur d'origine  */
:root {
  --color-ia-bleu: #50f0e6;
  --color-ia-vert: #50ccaa;
  --color-ia-jaune: #f0e641;
  --color-ia-rouge: #ff5050;
  --color-ia-violet: #960032;
  --color-ia-rose: #872181;
}

.cadre_fleche {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.fleche {
  height: 50px;
  width: 50px;
  transform: rotate(135deg);
  animation: deplaceFleche 2s ease;
}

@keyframes deplaceFleche {
  0% {
  }
  50% {
  }
  100% {
  }
}

.fleche-col {
  /* css de deplacement de la fleche */
  grid-column-start: 4;
  text-align: center;
}

#barre_A {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 100%;
  text-align: center;
}

#barre_A div {
  margin-top: 0.5rem;
}

#cadre_sport {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.sport img {
  height: 95px;
  width: 95px;
  margin-right: 1rem;
}

.sport {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 24px;
}

/*bas de page */
.logoR {
  height: 35px;
  width: 97px;
}

#cadre_footer {
  height: 1fr;
  display: flex;
  max-width: 100%;
}

.cadre_rea {
  text-align: start;
  width: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.cadre_logo {
  width: 50%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
